* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Bahnschrift, sans-serif;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    color: #82aeff;
    font-weight: bold;
    text-decoration: none;
}
p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}
form {
    display: flex;
    flex-direction: column;
    width: 350px;
}

input {
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #e1e1e1;
    outline-color: crimson;
}

button{
    padding: 10px;
    background: #e1e1e1;
    border: unset;
    cursor: pointer;
}